body {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr;
    margin: 0;
    background: var(--background);
}

#side_panel {
    grid-column: 1 / 3;
    display: flex;
    flex-direction: column;
}

#serversDetails {
    display: flex;
    flex-direction: row;
    height: stretch;
}

#servers {
    width: auto;
    padding: 0 0.4rem;
    background-color: var(--background-secondary);
}

.serverButton{
    width: 3.7rem;
    height: 3.7rem;
    border-radius: 1rem;
    margin: 0.5rem auto;
    background-color: var(--field-bg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    transition: 150ms;
    border: none;
    &:hover{
        filter: brightness(0.8);
    }
}

.serverButtonActive{
    border: 2px solid var(--main-color);
}

#newServer{
    background-color: var(--field-bg);
    border: 1px solid var(--main-outline);
    display: flex;
    align-items: center;
    justify-content: center;
    & i{
        color: var(--secondary-color);
        font-size: 3.5rem;
        transition: 150ms;
    }
}

#serverInfo{
    width: 100%;
    border: 1px solid var(--main-outline);
}

#serverDetails{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--main-outline);
    padding: 0 1rem;
}

.serverName{
    color: var(--main-color);
    font-size: 1.5rem;
    margin: 1.25rem 0;
}

.editServer{
    font-size: 1.2rem !important;
    padding: 0;
}

.channelButton{
    background: none;
    border: none;
    color: var(--main-color);
    font-family: 'Roboto';
    font-size: 1.2rem;
    margin: 1rem;
    cursor: pointer;
    transition: 50ms;

    &:hover{
        filter: brightness(1.4);
    }
}

.channelButtonActive{
    border-bottom: 2px solid var(--main-color);
}

#userInfo {
    height: 5rem;
    display: flex;
    align-items: center;
    padding: 0.2rem 0.5rem;
    background-color: var(--field-bg);
}

#userPfp {
    height: 4.2rem;
}

#userPfp>img {
    height: 100%;
    border-radius: 50%;
}

#userHandles{
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    color: var(--secondary-color);
    margin-left: 0.5rem;
    flex-direction: column;

    font-family: "Roboto", sans-serif;
    font-size: 1.15rem;
    &>*{
        margin: 0;
    }
}

#settings{
    margin-left: auto;
}

#profileSetting{
    color: var(--secondary-color);
    font-size: 1.8rem;
    padding-top: 3px;
    transition: 1000ms;
    &:hover{
        transform: rotate(180deg);
    }
}

#main {
    grid-column: 3 / 11;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#header {
    min-height: 3rem;
    max-height: 3rem;
}

#messages {
    height: stretch;
    padding: 0 1.3rem;
    overflow-y: scroll;
    padding-bottom: 1rem;
    scrollbar-color: var(--scrollbar) var(--background);
}

.message{
    display: flex;
}

.message:hover:has(.contentBox > *:only-child){
    background-color: var(--background-hover);
}

.pfpBox{
    &>img{
        height: 3.5rem;
        min-width: 3.5rem;
        border-radius: 50%;
    }
}

.messageContent{
    margin-top: 0.5rem;
    flex-grow: 1;
}

.pseudo{
    font-family: 'Roboto';
    font-size: 1.2rem;
    color: var(--secondary-color);
    margin-left: 0.6rem;
}

.messageDate{
    font-size: 0.7rem;
    font-weight: 300;
    font-family: 'Roboto';
    color: var(--main-color);
}

.contentBox{
    padding-top: 0.22rem;
    &>*{
        padding-left: 0.6rem;
    }
}

.content{
    margin: 0;
    font-family: arial;
    padding: 0.07rem 0;
    padding-left: 0.6rem;
    position: relative;
    border-radius: 2px;

    &:hover{
        background-color: var(--background-hover);
    }
}

.content:has(.editForm){
    padding-left: 0;
    &:hover{
        background: none !important;
    }
}

.attachment{
    display: block;
    max-height: 15rem;
    margin: 0.7rem 0;
    border-radius: 7px;
}

.actionButtons{
    position: absolute;
    top: -0.6rem;
    right: 1rem;
    display: none;
    background-color: var(--background-secondary);
    border: 1px solid var(--main-outline);
    border-radius: 0.5rem;
    padding: 0.2rem 0.15rem;
}

.content:hover .actionButtons {
    display: block;
}

.actionButton{
    background: none;
    border: none;
    position: relative;
    color: var(--secondary-color-hover);
    font-size: 1.07rem;

    &:hover{
        color: var(--secondary-color);
    }
}

.editForm{
    display: flex;
    flex-direction: row;
    height: 1.7rem;
    border: 1px solid var(--main-outline);
    border-radius: 0.6rem;
    padding: 0.3rem 0.6rem;
    padding-right: 0.6rem;
    margin-top: 0.3rem;
    background-color: var(--background-secondary);
}

#editedMessage{
    padding: 0;
    margin: 0;
    background: none;
    border: none;
    font-family: arial;
    color: var(--text-color);
    font-size: 1rem;
    flex-grow: 1;
    outline: #ffffff00;
}

.cancelDiv{
    margin-bottom: 0.3rem;
}

.editButton{
    color: var(--secondary-color);
    font-size: 1.3rem;
    position: relative;
    top: 2px;
}

.textButton{
    background: none;
    border: none;
    color: var(--main-color);
}


#input {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    border: 1px solid var(--main-outline);
    background-color: var(--background-secondary);
    width: 95%;
    border-radius: 1rem;
    margin: auto;
    margin-bottom: 0.7rem;
}

#input button{
    background-color: #ffffff00;
    border: none;
    padding: 0;
    cursor: pointer;
}

#input>form {
    height: 2.5rem;
    display: flex;
    padding: 0.3rem;
    padding-right: 0.6rem;
    align-items: center;
    width: 100%;

    & i {
        font-size: 2rem;
        color: var(--secondary-color-hover);
        transition: 150ms;
        &:hover{
            color: var(--secondary-color);
        }
    }
}

#messageLabel {
    width: stretch;
}

#message {
    width: 100%;
    box-sizing: border-box;
    height: 100%;
    background-color: #ffffff00;
    border: none;
    font-size: 1.15rem;
    color: var(--text-color);

    &::placeholder{
        color: var(--field-placeholder);
    }
    &:focus{
        outline: none;
    }
}

#submitButton>i{
    font-size: 1.8rem !important;
    position: relative;
    top: 0.1rem;
}

#attachment {
    display: none;
}

#attachmentButton {
    cursor: pointer;
    align-self: center;
}

.attachmentPreview{
    height: 10rem;
    border-radius: 3px;
}

.attachmentPreviewDiv{
    padding: 1rem;
}

#social {
    grid-column: 11 / 13;
}

.popupBackground{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    display: flex;
    background-color: rgba(14, 13, 13, 0.705);
    justify-content: center;
    align-items: center;
    display: none;
}

.popup{
    background-color: var(--background);
    border: 1px solid var(--main-outline);
    box-shadow: 0 0 4px var(--main-color);
    border-radius: 1.4rem;
    padding: 2rem 1.5rem;
}

#popupNewServer{
    gap: 2.5rem;
    width: 30rem;
    align-items: center;

    &>div{
        width: 90%;
    }
}

#serverIconLabel{
    display: flex;
    height: 6.5rem;
    width: 6.5rem;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--main-outline);
    /* box-shadow: 0 0 5px 0px black; */
    border-radius: 50%;
    background: var(--field-bg);
    transition-duration: 150ms;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    margin: auto;
    color: var(--secondary-color);
    cursor: pointer;
    background-position: center !important;

    &::after{
        content: "L'icone de votre serveur ici";
        text-align: center;
    }
}

#server_icon{
    display: none;
}

form{
    color: var(--secondary-color);
}

.field{
    display: flex;
    flex-direction: column;
    padding: 0.3em 0;
    flex-grow: 1;

    & input{
        background: var(--field-bg);
        border: 1px solid var(--main-outline);
        border-radius: 0.5rem;
        height: 2.1rem;
        color: white;
        padding-left: 0.5rem;
    }
}

.singleLineForm{
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
    gap: 1rem;

    & button{
        border-radius: 0.5rem;
        padding: 0.55rem;
        margin: 0.3rem 0;
    }
}

#popupServerSettings{
    min-width: 70%;
}

#settingsContent{
    display: flex;
}

#serverSettingsNav{
    display: flex;
    flex-direction: column;
    margin-right: 1rem;
}

#invitUrlConteneur{
    background: var(--field-bg);
    border: 1px solid var(--main-outline);
    border-radius: 0.5rem;
    height: 2.1rem;
    padding-left: 0.5rem;
    color: var(--secondary-color);
}

#newInvit{
    padding: 0;
    border: none;
    background: #ffffff00;
    outline: #ffffff00;
    color: var(--text-color);
    font-size: 1rem;
}

.settingsContent{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}